<div class="container-fluid p-0">
  <nav class="navbar d-flex justify-content-center align-items-center py-3 px-4 mx-4">
    <a href="/" class="d-flex align-items-center">
      <img src="../assets/logo.jpg" alt="book-management-logo" height="80">
      <h3 class="brand-title">Books Management</h3>
    </a>
  </nav>
  <main class="container-fluid mt-2">
    <div class="book-section row justify-content-evenly">
      <section class="col-12 col-sm-12 col-md-8 col-lg-9">
        <div class="d-flex justify-content-between align-items-center">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" routerLink="" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}" aria-current="page" aria-label="all books">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                  <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                </svg>
                All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/books/manage" [routerLinkActive]="['active-link']"  aria-label="manage books">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Manage Books
              </a>
            </li>            
          </ul>
          
        </div>
       
        <div class="row justify-content-center gap-3 py-3">
          <router-outlet></router-outlet>
        </div>
        </section>
        
    </div>
  </main>
  <footer>
    <div class="d-flex justify-content-center align-items-center text-white py-4">
      <p class="fs-6">Copyright {{year}} Book Management All rights reserved | Designed and Developed by Anish Verma</p>
    </div>
  </footer>
</div>
